html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#canvas {
    /* outline: solid; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#info {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    float: left;
    top: 0;
    left: 0;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    position: absolute;
    user-select: none;
    opacity: 0;
}