@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .pho {
        font-family: "Noto Serif", serif;
    }

    .no-drag {
        -webkit-user-drag: none;
    }

    .min-w-52 {
        min-width: 13rem;
    }

    .min-w-40 {
        min-width: 10rem;
    }

    .left-1\/8 {
        left: 12.5%;
    }

    .reveal {
        @apply transition-all duration-500;
    }

    .reveal-hide {
        @apply opacity-0 translate-y-1;
    }
}

* {
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: none;
}

*::selection {
    background-color: rgba(187, 221, 251, 0.5);
}

*::-webkit-scrollbar {
    @apply hidden;
}

html {
    overflow-y: scroll !important;
}

html,
body {
    background-image: radial-gradient(
            circle at 28% 29%,
            #ededed06 0%,
            #ededed06 50%,
            #88888806 50%,
            #88888806 100%
        ),
        radial-gradient(
            circle at 8% 78%,
            #9c9c9c06 0%,
            #9c9c9c06 50%,
            #25252506 50%,
            #25252506 100%
        ),
        linear-gradient(90deg, #fff, #fff);
    scrollbar-width: none;
    -ms-overflow-style: none;
    @apply overflow-x-hidden bg-no-repeat bg-fixed outline-none dark:bg-none dark:bg-neutral-900
}

#app {
    font-family: "EB Garamond", "Noto Serif SC", songti sc, serif;
}
